.modal-header{
	background-color: green;
	color: white;
}

.modal{
    /* display: none; */
}
.modal-content{
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.modal-header{
    width: 80wh;
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 10px 10px;
}